.title{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    color: rgb(219, 219, 219); 
    text-align: center;
}

.credits{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: rgb(219, 219, 219); 
    text-align: center;
}