.pads-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 44vw;
    margin-left: 28vw;
  }
  
  @media (max-width: 720px){
    .pads-container{
      width: 80vw;
      margin-left: 10vw;
    }
  }